{{page-title "Edit"}}

<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Modifier {{@model.name}}</h4>
    <div class="field">
      <label>Nom</label>
      <Input type="text" @value={{@model.name}} placeholder="Nom du produit" required/>
    </div>
    <div class="field">
      <label>Prix</label>
      <Input type="number" @value={{@model.price}} placeholder="Prix du produit" required/>
    </div>
    <div class="field">
      <label>Description</label>
      <Input type="text" @value={{@model.comments}} placeholder="Description du produit" required/>
    </div>
      <button {{ action 'editProduct' @model }} type="submit" class="ui button">Modifier le produit</button>
      <LinkTo @route="sections" class="ui button">
        Annuler
      </LinkTo>
  </form>
</div>

{{outlet}}