{{page-title "Edit"}}

<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Modifier une section</h4>
    <div class="field">
      <label>Nom</label>
      <Input type="text" @value={{@model.name}} placeholder="Nom de la section" required/>
    </div>
    <div class="field">
      <label>Description</label>
      <Input type="text" @value={{@model.description}} placeholder="Description de la section" required/>
    </div>
    <button {{ action 'editSection' @model }} type="submit" class="ui button">Modifier la section</button>
    <LinkTo @route="sections" class="ui button">
      Annuler
    </LinkTo>
  </form>
  <hr>
  <LinkTo @route="sections.addProduct" class="ui blue button">
    Nouveau produit
  </LinkTo>

  {{outlet}}

  <div class="ui segment">
    <h4>{{ @model.name }} ({{ @model.products.length }})</h4>
    <div class="ui form">
      <input type="search" class="ui input" placeholder="Filter selection">
    </div>
  </div>

  <h4>Liste des produits de la section {{ @model.name }}</h4>
  <table class="ui striped table">
  {{#each @model.products as |product|}}
    <tr>
      <td>
        {{ product.name }}
      </td>
      <td>
        {{ product.price }} €
      </td>
      <td>
        <button class="ui black button">Editer</button>
      </td>
      <td>
        <button class="ui red button"><div class='glyphicon glyphicon-remove'></div></button>
      </td>
    </tr>
  {{/each}}
  </table>
</div>

