{{page-title "Board"}}

<div class="ui blue segment">
  <span class="ui label">{{ @model.employee.email }}</span>
  <LinkTo @route="logout" class="ui black button">
    Deconnexion
  </LinkTo>
  <LinkTo @route="sections" class="ui black button">
    Gérer le Store
  </LinkTo>
</div>
<h2>Commandes</h2>
<ul>
  {{#each @model.orders as |order|}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
      </LinkTo>
    </li>
  {{/each}}
</ul>
<h2>Mes commandes</h2>
<LinkTo @route="myOrders" @model={{@model.orders.id}} class="ui blue button">
  <!-- pourquoi j'ai l'impression que le soucis de redirection vient du router.js et du fait qu'il ne veuille pas de
  majuscule (bizarrement les trois redirections qui marchent pas c'est là où j'ai les trois erreurs), tant pis je sais plus quoi faire -->
  Consulter mes commandes
</LinkTo>

{{outlet}}