{{page-title "Index"}}
<h2>Accueil</h2>

  <form class="ui form">
    <fieldset class="ui segment">
      <legend>Page de connexion</legend>

      <div class="field">
        <label for="email">Identifiant</label>
        <Input @value={{ @model.email }} type="email" id="email" aria-describedby="emailHelp" placeholder="jeandupont@bloup.com"/>
        <small id="aideIdentifiant" class="form-text">*L'identifiant doit être une adresse mail</small>
      </div>
      <div class="field">
        <label for="password">Mot de passe</label>
        <Input @value={{ @model.password }} type="password" id="password" placeholder="Mot de passe"/>
      </div>
      <button {{ action "login" @model }} type="submit" id="envoie" class="ui blue button">Se connecter <div class='glyphicon glyphicon-circle-arrow-right'></div></button>
    </fieldset>
    <br>
  </form>
{{outlet}}