{{page-title "Board"}}

<div class="ui blue segment">
  <LinkTo @route="logout" class="ui black button">
    Deconnexion
  </LinkTo>
  <LinkTo @route="board" class="ui black button">
    Tableau de bord
  </LinkTo>
</div>
<h2>Store</h2>
<fieldset>
  <legend>Gestion des sections</legend>
  <LinkTo @route="sections.add" class="ui blue button">
    Nouvelle section
  </LinkTo>
  <LinkTo @route="sections.addProduct" class="ui blue button">
    Nouveau produit
  </LinkTo>

  {{ outlet "newsomething" }}<hr>

  <div class="ui segment">
    <h4>Sections ({{ @model.length }})</h4>
    <div class="ui form">
      <input type="search" class="ui input" placeholder="Filter selection">
    </div>
  </div>

  <h3>Liste des sections</h3>
  <table class="ui striped table">
    {{#each @model as |section|}}
      <tr>
        <td>
          {{section.name}}
        </td>
        <td>
          ({{section.description}})
        </td>
        <td>
          <p class="ui label">{{ section.products.length }}</p>
        </td>
        <td>
          <LinkTo @route="sections.edit" @model={{section.id}} class="ui black button">
            Editer
          </LinkTo>
        </td>
        <td>
          <LinkTo {{ action 'delete' section}} @route="sections.delete" @model={{section.id}} class="ui red button">
            <div class='glyphicon glyphicon-remove'></div> <!-- je n'arrives pas à réaliser une action sur un linkto -->
          </LinkTo> <!-- c'est pourtant le seul moyen pour une route dynamique ( et du coup faire des suppressions multiples )??? -->
        </td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="5">{{ outlet "newprod" }}</td>
    </tr>
  </table>

</fieldset>