{{page-title "Board"}}

<div class="ui blue segment">
  <LinkTo @route="logout" class="ui black button">
    Deconnexion
  </LinkTo>
  <LinkTo @route="board" class="ui black button">
    Tableau de bord
  </LinkTo>
</div>
<h2>Store</h2>
<fieldset>
  <legend>Gestion des sections</legend>
  <LinkTo @route="sections.add" class="ui blue button">
    Nouvelle section
  </LinkTo>
  <button class="ui blue button">Nouveau produit</button>

  {{outlet}}

  <div class="ui segment">
    <h4>Sections ({{ @model.length }})</h4>
    <div class="ui form"><input type="search" class="ui input" placeholder="Filter selection"></div>
  </div>

  <h3>Liste des sections</h3>
  <table class="ui striped table">
    {{#each @model as |section|}}
      <tr>
        <td>
          {{section.name}}
        </td>
        <td>
          ({{section.description}})
        </td>
        <td>
          <button class="ui label">nb produit</button>
        </td>
        <td>
          <button class="ui black button">Editer</button>
        </td>
        <td>
          <LinkTo @route="sections.delete" @model={{section.id}} class="ui red button">
            <div class='glyphicon glyphicon-remove'></div>
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </table>

</fieldset>